In [2]:
%load_ext sql

In [3]:
%sql sqlite://

In [3]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [4]:
%sql select * from writer

 * sqlite://
Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]

In [5]:
%%sql writers << select first_name, year_of_death
from writer

 * sqlite://
Done.
Returning data to local variable writers

In [6]:
writers

[('William', 1616), ('Bertold', 1956)]

In [7]:
var = 'last_name'

In [8]:
%sql select * from writer where {var} = 'Brecht'

 * sqlite://
Done.

[('Bertold', 'Brecht', 1956)]

In [9]:
%%sql select * from writer 
where {var} = 'Brecht'

 * sqlite://
Done.

[('Bertold', 'Brecht', 1956)]